.banner-container {
  height: 92vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bannerList {
  width: 550px;
  height: 85vh;
  margin-left: 30px;
  padding-top: 10px;
  border-radius: 7px;
  background-color: #e6e6e6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bannerblog-title {
  height: 36px;
  color: #000;
  font-size: 1.2em;
  line-height: 30px;
  text-align: center;
  border-bottom: 1.5px solid #323232;
}

.bannerblog {
  height: 480px;
  color: #323232;
  padding: 5px 20px;
}

.bannerblog-list {
  width: 100%;
  height: 40px;
  display: flex;
  font-size: 16px;
  line-height: 40px;
}

.list-title {
  width: 80%;
}

.list-date {
  width: 20%;
}

.bannercard-desc {
  height: 50px;
  display: flex;
  color: black;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

.button {
  flex-grow: 1;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  height: 50px;
  color: black;
  background-color: white;
}