body {
  margin: 0px;
}

.header {
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: #000;
}

.title {
  flex-grow: 0.5;
  display: flex;
  justify-content: center
}

.title p {
  font-size: 1.2vw;
  text-decoration: none;
  color: #e6e6e6;
  transition: color 0.2s ease-out;
}

.title p:hover {
  color: #ffff;
}

.intro {
  flex-grow: 0.5;
  display: flex;
  justify-content: flex-start
}

.intro p {
  color: #9d9d9d;
  text-decoration: none;
  font-size: 0.98vw;
}

.menu {
  display: flex;
}

.menu-item {
  width: 12vw;
  height: 6.5vh;
  display: flex;
  font-size: 1vw;
  color: #9d9d9d;
  align-items: center;
  justify-content: center;
  transition: color 1s ease-out;
  border-bottom: 0.5vh solid #000;
}

.menu-item:hover {
  height: 6.5vh;
  color: #ffff;
  background-color: #323232;
  border-bottom: 0.5vh solid #ffff;
}

.Link {
  text-decoration: none;
}