.link {
  color: #000;
  line-height: 3vh;
}

.blog-container {
  padding: 2vh 0 0 0.5vw;
  width: 74vw;
  height: 91vh;
  overflow-y: auto;
}

.blogcard {
  margin: 0px 2% 4.5vh;
  height: 175px;
  max-height: 24vw;
}

.blog-desc {
  width: 96%;
  height: 160px;
  max-height: 24vw;
  padding: 1vw;
  border-radius: 1vw;
  background-color: #e6e6e6;
  overflow: hidden;
}

.blog-desc:hover {
  box-shadow: 6px 10px 10px 0 rgba(0, 0, 0, 0.2), 6px 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.blog-desc a {
  height: 1vw;
  line-height: 0px;
}
 
.blog-desc h1{
  font-size: 1.2vw;
  font-weight: 500;
}

.blog-desc img {
  height: 1vw;
}

.tip {
  height: 4.5vh;
  max-height: 4VW;
  display: flex;
  font-size: 1vw;
  color: #5a5858;
  line-height: 1vw;
  align-items: center;
  border-top: #000 1px solid;
}

.tiplist {
  padding: 0.5vw;
}

.blogintro {
  height: 12vh;
  max-height: 8vw;
  font-size: 1.1vw;
  color: #5a5858;
}

.blogbottom {
  padding-left: 53vw;
}

.more {
  border: none;
  width: 14vw;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  display: inline-block;
  background-color: #e6e6e6;

}

.more span {
  color: #5a5858;
  font-size: 1.1vw;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.more span:after {
  top: 0;
  opacity: 0;
  right: -1.1vw;
  content: '»';
  transition: 0.5s;
  position: absolute;
  padding-bottom: 2px;
}

.more:hover span {
  padding-right: 1.1vw;
  color: #000
}

.more:hover span:after {
  right: 0;
  opacity: 1;
  
}