.Lay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wall {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  transition: width 0.5s ease-in;
}

.wall-me {
  width: 400px;
  height: 53vh;
}

.wall-photo {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall-photo img {
  width: 150px;
  border-radius: 50%;
  transition: width 0.5s ease-in;
}

.wall-desc {
  color: #fff;
  margin-top: 2vw;
  text-align: center;
}

.wall-desc h1 {
  font-size: 1.5vw;
  font-weight: 500;
  color: #e6e6e6;
  transition: color 0.2s ease-out;
}

.wall-desc h1:hover {
  color: #ffff;
}

.wall-says {
  margin: 10px;
  font-size: 1.2vw;
  color: #e6e6e6;
  transition: color 0.2s ease-out;
}

.wall-says:hover {
  color: #ffff;
}

.wall-link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.wall-link a {
  font-size: 1.2vw;
  color: #13daec;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.wall-link a:hover {
  font-size: 1.3vw;
  color: #8eeff8;
  text-decoration: none;
}

.wall-link span {
  color: #ffff;
  font-size: 1.2vw;
}

.show {
  font-size: 1.15vw;
  color: #e6e6e6;
  text-decoration: none;
  transition: color 0.2s ease-out;
}