.bottom {
  height: 40px;
  display: flex;
  color: #ffff;
  font-size: 12px;
  text-align: center;
  align-items: center;
  background: black;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-out;
}