.about-container {
  height: 92vh;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

.aboutcard {
  width: 90%;
  height: 80vh;
  border-radius: 1vw;
  background-color: #e6e6e6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-desc {
  width: 100%;
  padding: 2vh 0vh 1.5vh;
  text-align: center;
  align-items: center;
}

.about-container h1 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1vh;
}

.li {
  color: #323232;
  font-size: 1.1vw;
  line-height: 5vh;
}

.li a {
  font-size: 1.1vw;
  color: #323232;
  text-decoration: none;
}

.about-like {
  padding: 2vh 0vh 2vh;
  width: 88%;
  margin-left: 6%;
  text-align: center;
  border-top: 1px solid #000;
}

.about-callme {
  padding: 2vh 0vh 2vh;
  width: 88%;
  margin-left: 6%;
  text-align: center;
  border-top: 1px solid #000;
}